      - name: Deploy dist to static repo
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          cd dist
          git init
          git add .
          git commit -m "Deploy $(date '+%Y-%m-%d %H:%M:%S')" || echo "No changes to commit"
          git push https://x-access-token:${GH_TOKEN}@github.com/FaisalJamali123/github-helper-hub-static.git main --force